<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= yield %>
    <p>There are <%= @users.keys.length %> users with a total of <%= count_interests %> interests</p>
  </body>
</html>